body {
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px;
}

/* custom-css */

section {
    margin: 110px auto;
}

.logo-text {
    font-size: 37px;
    font-weight: 700;
}

.slider-description {
    margin-bottom: 130px;
}

.slider-headline {
    font-size: 70px;
}

.slider-des {
    color: grey;
}

.engagement-details h1 {
    font-size: 50px;
    font-weight: 600;
    color: cadetblue;
}

.rating {
    margin: auto;
    font-size: 20px;
    font-weight: 700;
}

.online-courses {
    margin: auto;
    font-size: 20px;
    font-weight: 700;
}

.expert-members {
    margin: auto;
    font-size: 20px;
    font-weight: 700;
}

.numbers {
    margin-top: 44px;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: .6;
}

h5.text-white.bg-primary.rounded.w-50.text-center.p-1 {
    opacity: .7;
}

.join-question-button h4 a {
    text-decoration: none;
    color: #0DCAF0;
}

.footer-text {
    padding: 120px;
}





/* tablet-view-css-style */

@media screen and (max-width: 576px) {
    body {
        overflow-x: hidden !important;
    }

    .container-details {
        width: 100% !important;
    }

    .course-details h4 {
        margin-top: 20px;
        text-align: center;
    }

    .course-details p {
        text-align: center;
    }

    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

    .carousel-item img {
        height: 200px;
    }

    .slider-description {
        margin-bottom: -130px;
    }

    .companies {
        display: none;

    }

    .each-course {
        flex-direction: column;
        margin-top: 20px;
    }

    .QA-section {
        flex-direction: column;
    }

    .ask-to-join-question {
        width: 100% !important;
    }

    .course-price {
        margin: auto;
    }

    .fq-des {
        margin: 0px 0px !important;
    }

    .footer-text {
        padding: 51px;
    }

}


@media screen and (min-width:576px)and (max-width:768) {
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

    .each-course {
        margin-bottom: 10px;
    }

    .companies {
        display: none;
    }
}